<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php">

    <php>
        <!-- these env vars are needed by Symfony -->
        <server name="KERNEL_DIR" value="./Tests/app" />
        <server name="KERNEL_CLASS" value="AppKernel" />
    </php>

    <!-- code coverage reporting -->
    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
